body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.primary-dark {
    color: #495e57;
}

.primary-light {
    color: #f4ce14;
}

.secondary-dark {
    color: #ee9972;
}

.secondary-light {
    color: #fbdabb;
}

.highlight-light {
    color: #edefee;
}

.highlight-dark {
    color: #333333;
}
